@model IEnumerable<Domain.Agente>

@{
    ViewData["Title"] = "Agentes";
}

<h2>Gerenciar Agentes</h2>

<p>
    <a asp-action="Create">Novo Agente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAgente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo.NomeCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor.NomeSetor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeAgente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo.NomeCargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Setor.NomeSetor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtCriacao)
                </td>
                <td>
                    @if (!item.NomeAgente.Equals("Administrador"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.AgenteId">Editar</a>
                        @if (!item.AgenteId.Equals(ViewData["AgenteId"]))
                        {
                            <a asp-action="Delete" asp-route-id="@item.AgenteId"> | Deletar</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
