@model IEnumerable<Domain.Agente>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAgente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo.NomeCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor.NomeSetor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAgente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.NomeCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setor.NomeSetor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCriacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AgenteId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.AgenteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
