@model IEnumerable<Domain.Pedido>

@{
    ViewData["Title"] = "Home Administrador";
}

<h3>Lista de Todos os Pedidos</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Setor</th>
            <th scope="col">Itens</th>
            <th scope="col">Orçamentos</th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DescMot)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DtCriacao)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante.NomeAgente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante.Setor.NomeSetor)
            </td>
            <td><a class="btn btn-info" asp-action="ListItensPedido" asp-controller="Pedido" asp-route-PedidoId="@item.PedidoId">Ver Itens</a></td>
            <td><a href="#">ver orcamentos</a></td>
            <td>
                @Html.DisplayFor(modelItem => item.DescMot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
        }
    </tbody>
</table>
