@model IEnumerable<Domain.Pedido>

@{
    ViewData["Title"] = "Home Usuario";
    var nomeSetor = ViewData["NomeSetor"];
}

<h3>Lista dos meus Pedidos</h3>

<table class="table">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Solicitante</th>
            <th>Setor</th>
            <th>Itens</th>
            <th>
                @Html.DisplayNameFor(model => model.DescMot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotivoCanc)
            </th>
            <th>Cancelar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante.NomeAgente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante.Setor.NomeSetor)
            </td>
            <td>
                <a asp-action="ListItensPedido" asp-controller="Pedido" asp-route-PedidoId="@item.PedidoId">Ver Itens</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescMot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoCanc)
            </td>
            <td>
                @if (!item.Status.Equals("Pedido Cancelado"))
                {
                    <a asp-action="CancelarPedido" asp-controller="Pedido" asp-route-PedidoId="@item.PedidoId">Cancelar</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
