@model IEnumerable<Domain.Pedido>

@{
    ViewData["Title"] = "Home Gestor";
    var nomeSetor = ViewData["NomeSetor"];
}

<a class="btn btn-info" asp-action="PedidosParaValidar" asp-controller="Pedido"
   asp-route-setorId="@ViewData["SetorId"]" asp-route-nomeSetor="@nomeSetor">Validar Pedidos</a>

@if (nomeSetor.Equals("Financeiro"))
{
    <a class="btn btn-info" asp-action="ListPedidosValidados" asp-controller="Pedido"
       asp-route-setorId="@ViewData["SetorId"]" asp-route-nomeSetor="@nomeSetor">Consultar Pedidos Validados</a>
}

@if (nomeSetor.Equals("Compras"))
{
    <a class="btn btn-info" asp-action="ListPedidosOrcados" asp-controller="Pedido"
       asp-route-setorId="@ViewData["SetorId"]" asp-route-nomeSetor="@nomeSetor">Consultar Pedidos Orçados</a>
}

<h3>Lista dos Pedidos do Setor @nomeSetor</h3>

<table class="table">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Solicitante</th>
            <th>Setor</th>
            <th>Itens</th>
            <th>Orçamentos</th>
            <th>
                @Html.DisplayNameFor(model => model.DescMot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotivoCanc)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Solicitante.NomeAgente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Solicitante.Setor.NomeSetor)
                </td>
                <td><a class="btn btn-info btn-sm" asp-action="ListItensPedido" asp-controller="Pedido" asp-route-PedidoId="@item.PedidoId">Ver Itens</a></td>
                <td><a class="btn btn-info btn-sm" asp-action="ListOrcamentosPedido" asp-controller="Pedido" asp-route-pedidoId="@item.PedidoId">Ver Orçamentos</a></td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescMot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotivoCanc)
                </td>
            </tr>
        }
    </tbody>
</table>
