@model IEnumerable<Domain.Pedido>

@{
    ViewData["Title"] = "Pedidos Orçados";
    var nomeSetor = ViewData["NomeSetor"];
}

@if (nomeSetor.Equals("Diretoria")) { }
else
{
    <a asp-action="PedidosParaValidar" asp-controller="Pedido"
       asp-route-setorId="@ViewData["SetorId"]" asp-route-nomeSetor="@nomeSetor">Validar Pedidos</a>

    @if (nomeSetor.Equals("Financeiro"))
    {
        <a asp-action="ListPedidosValidados" asp-controller="Pedido"
           asp-route-setorId="@ViewData["SetorId"]" asp-route-nomeSetor="@nomeSetor">Consultar Pedidos Validados</a>
    }

    @if (nomeSetor.Equals("Compras"))
    {
        <a asp-action="ListPedidosOrcados" asp-controller="Pedido"
           asp-route-setorId="@ViewData["SetorId"]" asp-route-nomeSetor="@nomeSetor">Consultar Pedidos Orçados</a>
    }
}

<h2>Pedidos Orçados - Aguardando Compra - Setor @ViewData["NomeSetor"]</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Setor</th>
            <th scope="col">Itens</th>
            <th scope="col">Orçamentos</th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DescMot)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DtCriacao)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante.NomeAgente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante.Setor.NomeSetor)
            </td>
            <td><a class="btn btn-info" asp-action="ListItensPedido" asp-controller="Pedido" asp-route-PedidoId="@item.PedidoId">Ver Itens</a></td>
            <td><a class="btn btn-info" asp-action="ListOrcamentosPedido" asp-controller="Pedido" asp-route-pedidoId="@item.PedidoId">Ver Orçamentos</a></td>
            <td>
                @Html.DisplayFor(modelItem => item.DescMot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td><a class="btn btn-info" asp-action="FinalizarPedido" asp-controller="Pedido" asp-route-pedidoId="@item.PedidoId">Finalizar Pedido</a></td>
        </tr>
        }
    </tbody>
</table>
