@model IEnumerable<Domain.Pedido>

@{
    ViewData["Title"] = "Pedidos Validados";
}

<h3>Pedidos Validados - Aguardando Orçamentos - Setor @ViewData["NomeSetor"]</h3>

<table class="table">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Solicitante</th>
            <th>Setor</th>
            <th>Itens</th>
            <th>
                @Html.DisplayNameFor(model => model.DescMot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Orçamentos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante.NomeAgente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante.Setor.NomeSetor)
            </td>
            <td><a asp-action="ListItensPedido" asp-controller="Pedido" asp-route-PedidoId="@item.PedidoId">Ver Itens</a></td>
            <td>
                @Html.DisplayFor(modelItem => item.DescMot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td><a asp-action="Index" asp-controller="Orcamento" asp-route-pedidoId="@item.PedidoId">Gerenciar Orçamentos deste Pedido</a></td>
        </tr>
        }
    </tbody>
</table>
