@model IEnumerable<Domain.Pedido>

@{
    ViewData["Title"] = "Validar Pedidos";
    var nomeSetor = ViewData["NomeSetor"];
}

@if (nomeSetor.Equals("Diretoria")) { }
else
{
    <a class="btn btn-info" asp-action="PedidosParaValidar" asp-controller="Pedido"
       asp-route-setorId="@ViewData["SetorId"]" asp-route-nomeSetor="@nomeSetor">Validar Pedidos</a>

    @if (nomeSetor.Equals("Financeiro"))
    {
        <a class="btn btn-info" asp-action="ListPedidosValidados" asp-controller="Pedido"
           asp-route-setorId="@ViewData["SetorId"]" asp-route-nomeSetor="@nomeSetor">Consultar Pedidos Validados</a>
    }

    @if (nomeSetor.Equals("Compras"))
    {
        <a class="btn btn-info" asp-action="ListPedidosOrcados" asp-controller="Pedido"
           asp-route-setorId="@ViewData["SetorId"]" asp-route-nomeSetor="@nomeSetor">Consultar Pedidos Orçados</a>
    }
}

<h3>Pedidos para Validar - Setor @ViewData["NomeSetor"]</h3>

<table class="table">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Solicitante</th>
            <th>Setor</th>
            <th>Itens</th>
            <th>
                @Html.DisplayNameFor(model => model.DescMot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Validar</th>
            <th>Cancelar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Solicitante.NomeAgente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Solicitante.Setor.NomeSetor)
                </td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="ListItensPedido" asp-controller="Pedido" asp-route-PedidoId="@item.PedidoId">Ver Itens</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescMot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-action="ValidarPedido" asp-controller="Pedido" asp-route-pedidoId="@item.PedidoId">Validar</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger" asp-action="CancelarPedido" asp-controller="Pedido" asp-route-pedidoId="@item.PedidoId">Cancelar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
