@model IEnumerable<Domain.Cargo>

@{
    ViewData["Title"] = "Cargos";
}

<h2>Gerenciar Cargos</h2>

<p>
    <a asp-action="Create">Novo Cargo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCriacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CargoId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.CargoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
