@model IEnumerable<Domain.Orcamento>

@{
    ViewData["Title"] = "Gerenciar Orçamentos";
}

<h2>Orçamentos Cadastrados para o Pedido #ID @ViewData["PedidoId"]</h2>

<p>
    <a asp-action="Create" asp-route-pedidoId="@ViewData["PedidoId"]">Novo Orçamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpjFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpjFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCriacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrcamentoId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.OrcamentoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
